@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,700&family=Ubuntu:ital,wght@0,400;1,400;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar stylling */

.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;

}

.navbar.sticky{
    padding: 15px 0;
    background-color:rgb(217, 0, 65);
}


.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar .logo a{
  color: beige;
  font-size: 35px;
  font-weight: 600;
}


.navbar.logo a span{
  color:rgb(217, 0, 65);
  transition: color 0.3s ease;
}


.navbar.sticky .logo a span{
  color: beige;
}


.navbar .menu li{
  list-style: none;
  display: inline-block;
}


.navbar .menu li a {
  display: block;
  color: beige;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover{
  color:rgb(217, 0, 65);
}

.navbar.sticky .menu li a:hover{
  color: beige;
}


/* menu button styling */
.menu-btn{
  color: #f5f5dc;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* scroll up */
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width:43px;
  background: rgb(217, 0, 65);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}



/* home section  */
.home{
  display: flex;
  background: url("./Images/hom-3.png") no-repeat center;
  height: 100vh;
  color: beige;
  min-height: 500px;

}

.home .max-width{
  margin: auto 0px auto 40px;

}

.home .homecontent .text-1{
  font-size: 27px;
}

.home .homecontent .text-2{
  font-size: 70px;
  font-weight: 500;
  margin-left: -3px;
}

.home .homecontent .text-3{
  font-size: 40px;
  margin: 5px 0;
}

.home .homecontent .text-3 span{
  color: rgb(231, 27, 27);
}

.home .homecontent a{
  display: inline-block;
  background: rgb(217, 0, 65);
  color: beige;
  font-size: 23px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 8px;
  border:2px solid rgb(217, 0, 65);
  transition: all 0.2s ease-in-out;
}

.home .homecontent a:hover{
  color: beige;
  background: none;
}


/* All Similar Content Section Style */

section{
  padding: 100px 0;
}

.about, .services, .skills, .teams, .contact, footer{
  font-family: 'Poppins', sans-serif;
}

.about .about-content, .services .serv-content, .skills .skill-content, .contact .contact-content{  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

section .title::before{
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: rgb(217, 0, 65);
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}


/* About styling */

.about .title::after{
  content: " who i am ";
}

.about .about-content .left{
  width: 45%;
}

.about .about-content .left img{
  height: 400px;
  width:400px;
  object-fit: cover;
}

.about .about-content .right{
  width: 55%;
}

.about .about-content .right .text{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span{
  color:rgb(217, 0, 65);
}

.about .about-content .right p{
  text-align: justify;
}

.about .about-content .right a{
  display: inline-block;
  background: rgb(217, 0, 65);
  color: beige;
  font-size: 18px;
  padding: 10px 34px;
  margin-top: 20px;
  border-radius: 8px;
  border:2px solid rgb(217, 0, 65);
  transition: all 0.2s ease-in-out;
}



/* Servicers Section */
.services, .teams{
  background: #111;
  color: #fff;
}

.services .title::before,
.teams .title::before{
  background: #fff;

}

.services .title::after,
.teams .title::after{
  background: #111;
  content: "What i provides";
}

.services .serv-content .card{
  width: calc(33% - 22px);
  background: #222;
  text-align: center;
  border-radius: 5px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover{
  background: rgb(217, 0, 65);
}

.services .serv-content .card:hover i{
  color: #fff;
  transition: color 0.3s ease;
}

.services .serv-content .card .box{
  transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
  transform: scale(1.05);
}

.services .serv-content .card i{
  font-size: 50px;
  color: rgb(217, 0, 65);
}

.services .serv-content .card .text{
  font-size: 30px;
  margin: 10px 0 7px 0;
}

/* skills section */

.skills .title::after{
  content: "What i know";
}

.skills .skill-content .column{
  width: calc(50% - 30px);
}

.skills .skill-content .left .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skill-content .left p{
  text-align: justify;
}

.skills .skill-content .left a{
  display: inline-block;
  background: rgb(217, 0, 65);
  color: beige;
  font-size: 18px;
  padding: 8px 16px;
  margin-top: 25px;
  border-radius: 8px;
  border:2px solid rgb(217, 0, 65);
  transition: all 0.2s ease-in-out;
}

.skills .skill-content .left a:hover{
  background: none;
  color: rgb(217, 0, 65);
}

.skills .skill-content .right .bars{
  margin-bottom: 20px;

}

.skills .skill-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.skills .skill-content .right span{
  font-size: 18px;
  font-weight: 500;
}

.skills .skill-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills .skill-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left:0;
  top:0;
  background: rgb(217, 0, 65);
}

.skill-content .right .html::before{
  width: 90%;
}

.skill-content .right .css::before{
  width: 75%;
}

.skill-content .right .jscript::before{
  width: 40%;
}

.skill-content .right .sql::before{
  width: 30%;
}

/* team section */

.teams .title::after{
  content: "Who with me";
}

.teams .carousel .card{
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover{
  background: rgb(217, 0, 65);

}

.teams .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover .box{
  transform: scale(1.05);
}

.teams .carousel .card .text{
  font-size: 25px;
  font-weight: 500;
  margin:10px 0 7px 0;
}

.teams .carousel .card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(217, 0, 65);
  transition: all 0.3s ease;
}

.teams .carousel .card:hover img{
  border-color: #fff;
}

.owl-dots{
  text-align: center;
  margin-top: 20px;
}

.owl-dot{
  height: 13px;
  width:13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid rgb(217, 0, 65)!important;
  transition: all 0.3s ease;

}

.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
  background: rgb(217, 0, 65)!important;
}





/* contact section */

.contact .title::after{
  content: "touch with me";

}

.contact .contact-content .column{
  width: calc(50% - 30px);
}

.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}



.contact .contact-content .left p{
  text-align: justify;

}

.contact .contact-content .left .icons{
  margin: 10px 0;
}

.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info{
  margin-left: 30px;
}

.contact .contact-content .row i{
  font-size: 20px;
  color: rgb(217, 0, 65);
}

.contact .contact-content .info .head{
  font-weight: 500;
}

.contact .contact-content .info .sub-title{
  color: #333;
}


.contact .contact-content .right form .fieleds{
  display: flex;
}


.contact .contact-content .right form .fieled,
.contact .contact-content .right form .fieleds .fieled{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}


.contact .contact-content .right form .textarea{
  height: 80px;
}


.contact .right form .name{
  margin-right: 10px;
}

.contact .right form .email{
  margin-left: 10px;
}


.contact .contact-content .right form .fieled input{
  height: 100%;
  width: 100%;
}

.contact .contact-content .right form .fieled input,
.contact .contact-content .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'poppins', sans-serif;
}

.contact .contact-content .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}

.contact .contact-content .right form .button{
  height:47px;
  width: 170px;
}

.contact .contact-content .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid rgb(217, 0, 65);
  border-radius: 5px;
  background: rgb(217, 0, 65);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.contact .contact-content .right form .button button:hover{
  background: none;
  color: rgb(217, 0, 65);
}



/* footer section */
footer{
  background: #111;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}

footer span a{
  color:rgb(217, 0, 65);
}





/* responsive media query */
@media(max-width: 1300px){
  .home .max-width{
    margin-left: 0px;
  }
}

@media(max-width: 1104px){
  .about .about-content .left img{
    height: 350px;
    width:350px;
  }
  
}

@media(max-width: 991px){
    .max-width{
      padding: 0 50px;
    }
}

@media(max-width: 947px){
  .max-width{
    padding: 0 50px;
  }
  .menu-btn{
    display: block;
    z-index:999;
  }

  .menu-btn i.active:before{
    content: "\f00d";
  }

  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 100px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active{
    left: 0;
  }

  .navbar .menu li{
    display: block;
  }

  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .homecontent .text-2{
    font-size: 70px;
  }
  
  .home .homecontent .text-3{
    font-size: 35px;
  }

  .home .homecontent a{
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width{
    max-width: 800px;
  }

  .about .about-content .column{
    width: 100%;
  }

  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right{
    flex: 100%;
  }

  .services .serv-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .skills .skill-content .column,
  .contact .contact-content .column{
    width: 100%;
    margin-bottom: 35px;
  }

}

@media(max-width: 690px){
  .max-width{
    padding: 0 23px;
  }

  .home .homecontent .text-2{
    font-size: 60px;
  }
  
  .home .homecontent .text-3{
    font-size: 32px;
  }

  .home .homecontent a{
    font-size: 23px;
  }
  .services .serv-content .card{
    width: 100%;
  }
  
}

@media(max-width: 500px){

  .home .homecontent .text-2{
    font-size: 60px;
  }
  
  .home .homecontent .text-3{
    font-size: 32px;
  }
  
}



/*
.anim-elements {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .anim-elements .anim-element {
    position: absolute;
  }
  .anim-elements .anim-element:nth-child(1) {
    background: rgba(0, 201, 157, 0.6);
    width: 10px;    
    height: 10px;
    border-radius: 50%;
    top: 12%;
    left: 15%;
    animation: animTwo 13s infinite linear;
  }
  .anim-elements .anim-element:nth-child(2) {
    border: 5px solid rgba(0, 153, 229, 0.3);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 15%;
    left: 45%;
    -webkit-animation: animOne 15s infinite linear;
    animation: animOne 15s infinite linear;
  }
  .anim-elements .anim-element:nth-child(3) {
    border: 5px solid rgba(244, 34, 104, 0.3);
    width: 25px;
    height: 25px;
    bottom: 20%;
    left: 30%;
    -webkit-animation: animFour 15s infinite linear alternate;
    animation: animFour 15s infinite linear alternate;
  }
  .anim-elements .anim-element:nth-child(4) {
    background: rgba(252, 162, 73, 0.8);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 15%;
    right: 25%;
    -webkit-animation: animFive 15s infinite linear alternate;
    animation: animFive 15s infinite linear alternate;
  }
  .anim-elements .anim-element:nth-child(5) {
    background: rgba(100, 45, 250, 0.4);
    width: 3px;
    height: 20px;
    top: 18%;
    right: 25%;
    -webkit-animation: animFour 15s infinite linear alternate;
    animation: animFour 15s infinite linear alternate;
  }
  .anim-elements .anim-element:nth-child(5):after,
  .anim-elements .anim-element:nth-child(5):before {
    content: "";
    display: block;
    width: 100%;
    height: calc(50% - 2px);
    top: 6px;
    background: inherit;
    position: absolute;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .anim-elements .anim-element:nth-child(5):before {
    right: -6px;
  }
  .anim-elements .anim-element:nth-child(5):after {
    left: -6px;
  }
  @keyframes animOne {
    0% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      transform: translate(73px, -1px) rotate(35deg);
    }
    40% {
      transform: translate(141px, 72px) rotate(75deg);
    }
    60% {
      transform: translate(83px, 122px) rotate(110deg);
    }
    80% {
      transform: translate(-40px, 72px) rotate(145deg);
    }
    100% {
      transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @-webkit-keyframes animOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(35deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(75deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(110deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(145deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @keyframes animTwo {
    0% {
      transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
    20% {
      transform: translate(73px, -1px) rotate(36deg) scale(0.9);
    }
    40% {
      transform: translate(141px, 72px) rotate(72deg) scale(1);
    }
    60% {
      transform: translate(83px, 122px) rotate(108deg) scale(1.2);
    }
    80% {
      transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
    }
    100% {
      transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
  }
  
  @-webkit-keyframes animTwo {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
  }
  
  @keyframes animThree {
    0% {
      transform: translate(165px, -179px);
    }
    100% {
      transform: translate(-346px, 617px);
    }
  }
  
  @-webkit-keyframes animThree {
    0% {
      -webkit-transform: translate(165px, -179px);
    }
    100% {
      -webkit-transform: translate(-346px, 617px);
    }
  }
  
  @keyframes animFour {
    0% {
      transform: translate(-300px, 151px) rotate(0deg);
    }
    100% {
      transform: translate(251px, -200px) rotate(180deg);
    }
  }
  
  @-webkit-keyframes animFour {
    0% {
      -webkit-transform: translate(-300px, 151px) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(251px, -200px) rotate(180deg);
    }
  }
  
  @keyframes animFive {
    0% {
      transform: translate(61px, -99px) rotate(0deg);
    }
    21% {
      transform: translate(4px, -190px) rotate(38deg);
    }
    41% {
      transform: translate(-139px, -200px) rotate(74deg);
    }
    60% {
      transform: translate(-263px, -164px) rotate(108deg);
    }
    80% {
      transform: translate(-195px, -49px) rotate(144deg);
    }
    100% {
      transform: translate(-1px, 0px) rotate(180deg);
    }
  }
  
  @-webkit-keyframes animFive {
    0% {
      -webkit-transform: translate(61px, -99px) rotate(0deg);
    }
    21% {
      -webkit-transform: translate(4px, -190px) rotate(38deg);
    }
    41% {
      -webkit-transform: translate(-139px, -200px) rotate(74deg);
    }
    60% {
      -webkit-transform: translate(-263px, -164px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-195px, -49px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(-1px, 0px) rotate(180deg);
    }
  }*/